/* @import url('https://fonts.googleapis.com/css?family=Roboto:300'); */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

/* ! Global */

* {
    box-sizing: border-box;
}

body {
    background: #353535;
    color: #c4c4c4;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    line-height: 1.45rem;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

a {
    text-decoration: none;
}

small {
    font-size: .35rem;
}


/* ! Sidebar with media queries */

.sidebar {
    background: #4f4f4f;
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
}

.logo {
    text-transform: uppercase;
    margin-bottom: 2em;
}

@media (min-width: 1200px) {
    .logo {
        margin-bottom: 5em;
    }
}

.logo span {
    font-weight: 700;
}

.nav-item {
    color: #737373;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline-block;
    margin-right: 2em;
}

@media (min-width: 1200px) {
    .nav-item {
        display: block;
        margin: 7vh 0;
    }
}

.nav-item.active {
    color: #c4c4c4;
}

/* ! Global wrapper for page content */

.main-content {
    padding: 2%;
    flex: 1 1 80%;
    min-height: 100vh;
}

/* ! Homepage Main Content */
.home-content {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

/* ! Contact Page Main Content */

.contact-content {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

/* ! Portfolio Main Content */

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

/* ? Portfolio Item theme */

.portfolio-item {
    background: #f96855;
    color: #c4c4c4;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

/* ? Portfolio Item Sizing */
/* Portfolio Item Usable Sizes:
1x1, 2x2, 3x3, 4x4, 5x5
2x3, 3x2
3x4, 4x3
4x5, 5x4
2x6, 3x6, 4x6
2x8, 3x8, 4x8
5x8 (full grid) 
*/

.portfolio-item.x1y1 {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.x2y2 {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.x3y3 {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.x2y3 {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.x3y2 {
    grid-row: span 2;
    grid-column: span 3;
}

.portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}

/* ! Highlight portfolio items on mouseover */

.highlight {
    background-image: url(//unsplash.it/800/600);
}

.highlight::before {
    content: '';
    display: block;
    background: #353535;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
}

.highlight:hover::before {
    opacity: 0.1;
}

/* ! Traversy Course Main Content */

.traversy {
    display: grid;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.milestone {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    background: rgb(97, 97, 97);
    color: #fff;
    text-align: left;
    padding: 1rem;
    justify-content: center;
    grid-gap: 1rem;
}

.textbox ul {
    list-style: circle;
}

.titlebox {
    line-height: 2.2rem;
    padding-left: 5px;
}

.bar-7col {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(8, 1fr);
    padding: 1rem;
    background: #3f3f3f;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: 1rem;
}

.chapter-3wide {
    /* * Use for single row chapter bar with title column and 3x wide columns */
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    background: #3f3f3f;
    color: #fff;

}

.chapter-7col {
    /* * Use for double row chapter bar with title column and 7 buttons */
    /* * Darker background */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: .5rem;
    background: #3f3f3f;
    color: #fff;
    padding: 1rem;
}

.chapter-5col {
    /* * Use for double row chapter bar with title column and 5 buttons */
    /* * Lighter background */
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: .5rem;
    background: rgb(97, 97, 97);
    color: #fff;
    padding: 1rem;
}

.bar-fullwidth {
    /* * Use for single row chapter bar with title column and full width column */
    /* * Darker background */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr, 7fr;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: .5rem;
    background: #3f3f3f;
    color: #fff;
    padding: 1rem;
}

.chaptertitle {
    /* * Apply to chapter titles to fit them into entire first column */
    grid-area: 1 / 1 / 3 / 2;
    padding-right: 1rem;
}

/* ! DEPRECATED 
.furtherlearning {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-align: left;
    grid-gap: .5rem;
}
! */

.section {
    /* !  DO NOT DELETE */
    /* * Used as a placeholder class in the event styling on all section titles needs to be changed */
    font-size: 1em;
}

/* ! Button Styling */

.button {
    -moz-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fce2c1;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff9d00), color-stop(1, #fb9e25));
    background: -moz-linear-gradient(center top, #ff9d00 5%, #fb9e25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9d00', endColorstr='#fb9e25');
    background-color: #ff9d00;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    border: 1px solid #eeb44f;
    display: inline-block;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 32px;
    line-height: 32px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #cc9f52;
    padding: 0px 6px;
    margin: 3px 0px;
}

.button:hover {
    background-color: #ff8f0f;
}

.button:active {
    position: relative;
    top: 1px;
}

/* ! Finished Section Button Styling */

.done {
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background-color: #77d42a;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: 0;
    border: 1px solid #268a16;
    display: inline-block;
    color: #306108;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 32px;
    line-height: 32px;
    width: 90%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #aade7c;
    padding: 0px 6px;
    margin: 3px 0px;
}

.done:hover {
    background-color: #5cb811;
}

.done:active {
    position: relative;
    top: 1px;
}

/* ! For responsive nav
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
 */

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    width: 100%;
}